<%= render TurboModalComponent.new(title: "Подтверждение удаления") do %>
  <div class="mx-auto w-full max-w-[550px]">
    <%= form_with(model: @user, url: user_path, method: :delete, local: true) do |form| %>
      <p class="mb-6 text-stone-700">
        Вы уверены, что хотите удалить аккаунт?
      </p> 
      <div class="mt-5">
        <%= form.submit 'Удалить', 
            class: 'hover:bg-orange-400 w-full rounded-md bg-orange-500 py-3 px-8 text-center text-base font-semibold text-white outline-none transition-colors duration-200' %>
      </div>
    <% end %>
  </div>
<% end %>
