<%= render 'shared/navbar' %>

<div class="container mx-auto mt-16 p-6 bg-stone-50 rounded-lg">
  <p class="text-lg text-stone-800 mb-4">
    <span class="font-medium">Email:</span> <%= @user.email_address %>
  </p>

  <%= link_to 'Удалить аккаунт', delete_user_path, data: { turbo_frame: "modal" }, confirm: "Are you sure?", class: "bg-amber-600 hover:bg-amber-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition-colors duration-200" %>
</div>
